

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;    }



    h1 {
        font-size: 4rem;

    }

    p {
        font-size: 2.5rem;
        font-weight: 300;

    }

    section {
        display: table;
        width: 100%;
    }

    .height-80 {
        align-: center;
        background-image: url("https://images.unsplash.com/photo-1450849608880-6f787542c88a?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1669&h=864&q=80");
        height: 80vh;
        color: #FFFFFF;
        text-align: center;
    }

    .height-50 {
        background: #ffffff;
        height: 50vh;
        padding: 7%;
        font-size: 2rem

    }

    .height-100 {
        background: #e74c3c;
        height: 100vh;
    }

    .content {
        display: table-cell;
        vertical-align: middle;


    }

    @media (max-width: 767px) {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            font-weight: 300;
        }
    }
</style>
<body>
  <div class="col s12">
    <section class="height-80">
        <div class="content">
            <h1>Liberdade financeira</h1>
            <p>Poder fazer o que quiser e quando quiser</p>
            <br>
<a class="waves-effect waves-light btn-large green">QUERO LIBERDADE</a>
        </div>
    </section>
    </div>
    <section class="height-50">
      <div class="container"
            <div class="row">
              <p>O que gostaria de estar fazendo agora?</p>
                  <div class="col s6"><div id="disqus_thread"></div>
                  <script>
                  /**
                  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                  */
                  /*
                  var disqus_config = function () {
                  this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                  */
                  (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');

                  s.src = '//millennial.disqus.com/embed.js';

                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                  })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<div>

                </div>

    </section>
